= render "/items/templates/head_template"
.userEdit
  = render "/users/users_side"
  .userEdit__wrapper
    = form_for(current_user) do |f|
      .userEditFrame
        .userEditTitle
          %P 本人情報編集
        .userEditNicGuide
          %p#text ニックネーム
          %p#mark 必須
        .userEditNicIn
          = f.text_field :nickname, autofocus: true, id: "nicknameForm"
        .userEditName
          %p#text お名前
          %p#mark 必須
        .userEditNameIn
          = f.text_field :first_name, autofocus: true, id: "firstnameForm"
          = f.text_field :last_name, autofocus: true, id: "lastnameForm"
        .userEditKana
          %p#text お名前　ふりがな
          %p#mark 必須
        .userEditKanaIn
          = f.text_field :first_name_hiragana, autofocus: true, id: "firstname_hiraganaForm"
          = f.text_field :last_name_hiragana, autofocus: true, id: "lastname_hiraganaForm"
        .userEditBirthday
          %p#text 生年月日
          %p#mark 必須
        .userEditBirthdayIn
          = f.text_field :birth_year, placeholder: "", id: "birthForm"
          = f.text_field :birth_month, placeholder: "", id: "birthForm2"
          = f.text_field :birth_day, placeholder: "", id: "birthForm2"
        .userEditPas
          %p#text パスワード
          %p#mark 必須
        .userEditPasIn
          = f.password_field :password, autocomplete: "off", placeholder: " パスワード（７文字以上）", id: "pwForm"
        .userEditPas2
          %p#text パスワード
          %p#mark 必須
        .userEditPas2In
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: " パスワード再入力", id: "pwForm"
        .userEditSendBtn
          = f.submit "登録する", id: "sendBtn"
          -# = render "devise/shared/links"
= render "/items/templates/foot_template"
