= render "/items/templates/head_template"
- breadcrumb :mypage
= breadcrumbs pretext: "",separator: " &rsaquo; "
.userTopMain
  = render "users_side"
  .userTopMain__wrapper
    .userTopMainFrame
      = link_to user_path(current_user) , class: "showUserName" do
        ユーザー情報
= render "/items/templates/foot_template"
