= render "/items/templates/head_template"
= render "/items/templates/new_btn"
- breadcrumb :mypage
= breadcrumbs pretext: "",separator: " &rsaquo; "
.users__main
  = render "users_side"
  .users__main__right
    .users__main__right__name
      ユーザーネーム
= render "/items/templates/foot_template"
