.header-grp
  .header-grp__header
    .header-grp__header__rogo-txt
      = link_to image_tag(src= "logo.png", class: "header-grp__header__rogo-txt__rogo"),root_path
      = form_with(url: search_items_path, local: true, method: :get, class: "header-grp__header__rogo-txt__txtbox") do |f|
        = f.text_field :keyword, placeholder: "キーワードから探す", class: "txt-form"
        = button_tag type: "submit" , class:"submit-btn" do
          =image_tag 'search-rogo.png', width: '20' 

    .header-grp__header__lists
      %ul.header-grp__header__lists__leftbox
        %li.header-grp__header__lists__leftbox__category
          = link_to 'カテゴリー', "#", class:"list-links"
        %li.header-grp__header__lists__leftbox__brands
          = link_to 'ブランド', "#", class:"list-links"
      - if user_signed_in?
        %ul.header-grp__header__lists__rightbox
          %li.header-grp__header__lists__rightbox__login
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"list-links"
          %li.header-grp__header__lists__rightbox__new
            = link_to 'マイページ', "/users/", class:"list-links"
      - else
        %ul.header-grp__header__lists__rightbox
          %li.header-grp__header__lists__rightbox__login
            = link_to 'ログイン', "/users/sign_in", class:"list-links"
          %li.header-grp__header__lists__rightbox__new
            = link_to '新規会員登録', "/users/sign_up", class:"list-links"