.userSignInMain
  .userSignIn__header
    =link_to image_tag(src = "logo.png", id: "exbHeader__logo", width: "250"), root_path

  .userSignInMain__wrapper
    .userSignInMain__wrapper--frame
      .userSignIn
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .userSignUp__head
            %p ログインフォーム
          .userSignUp__google
            .userSignUp__google--btn
              %label
                = icon("fab", "google")
                = link_to 'Googleアカウントでログイン', user_google_oauth2_omniauth_authorize_path, method: :post, id: "google"
          .userSignIn__email
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", id: "emailForm", required: true
          .userSignIn__pwForm
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", id: "pwForm", required: true, minlength: '7', maxlength: '30'
        
          .userSignIn__success
            = f.submit "ログインする", id: "sendBtn"
          - if devise_mapping.rememberable?
            = f.check_box :remember_me, id: 'rememberMe'
            = f.label :ログイン状態を保持する, id: 'rememberMe'
        = render "devise/shared/links"

= render "/items/templates/sub_foot_template"

