= render "/items/templates/head_template"
- breadcrumb :addressRegister
= breadcrumbs pretext: "",separator: " &rsaquo; "
.addressCreate
  = render "/users/users_side"
  .addressCreate__wrapper
    .addresseCreateFrame
      .addresseCreateTitle
        %p 登録完了
      .addresseLink
        = link_to root_path , class: "topBtn" do
          トップ
        = link_to users_path , class: "myBtn" do
          マイページ
= render "/items/templates/foot_template"