= render "/items/templates/head_template"

- breadcrumb :addressFix
= breadcrumbs pretext: "",separator: " &rsaquo; "

.addresseMain
  = render "/users/users_side"
  .addresseMain__wrapper
    = form_for @address do |f|
      .addresseFrame
        .addresseTitle
          %p 住所変更
        .addresseName__guide
          %p#text お名前
          %p#mark 必須
        = f.text_field :first_name, id: "firstnameForm"
        = f.text_field :last_name, id: "lastnameForm"
        .addresseNameKana__guide
          %p#text お名前かな
          %p#mark 必須
        = f.text_field :first_name_hiragana, autofocus: true, id: "firstname_hiraganaForm"
        = f.text_field :last_name_hiragana, autofocus: true, id: "lastname_hiraganaForm"
        .addresseTel__guide
          %p#text 電話番号
          %p#mark 必須
        = f.text_field :tel, autofocus: true, id: "addresseTel"
        .addressePostalCode__guide
          %p#text 郵便番号
          %p#mark 必須
        = f.text_field :postal_code, autofocus: true, id: "addressePostalCode"
        .addressePrefectare__guide
          %p#text 都道府県
          %p#mark 必須
        = f.text_field :prefecture, autofocus: true, id: "addressePrefectare"
        .addresseCity__guide
          %p#text 市町村
          %p#mark 必須
        = f.text_field :city, autofocus: true, id: "addresseCity"
        .addresseAddress__guide
          %p#text 番地
          %p#mark 必須
        = f.text_field :address, autofocus: true, id: "addresseAddress"
        .addresseRoom__guide
          %p#text 建物名
          %p#mark2 任意
        = f.text_field :room, autofocus: true, id: "addresseRoom"
        .userSignUp__success
          = f.submit "登録する", id: "sendBtn"
          
= render "/items/templates/foot_template"