.header-grp
  .header-grp__header
    .header-grp__header__rogo-txt
      = link_to image_tag(src= "logo.png", class: "header-grp__header__rogo-txt__rogo"),root_path
      .header-grp__header__rogo-txt__txtbox
        %input.txt-form{:type => "text", :placeholder => "キーワードから探す"}
        %button.submit-btn{:type => "submit"} 
    .header-grp__header__lists
      %ul.header-grp__header__lists__leftbox
        %li.header-grp__header__lists__leftbox__category
          = link_to 'カテゴリー', "#", class:"list-links"
        %li.header-grp__header__lists__leftbox__brands
          = link_to 'ブランド', "#", class:"list-links"
      %ul.header-grp__header__lists__rightbox
        %li.header-grp__header__lists__rightbox__login
          = link_to 'ログイン', "#", class:"list-links"
        %li.header-grp__header__lists__rightbox__new
          = link_to '新規会員登録', "#", class:"list-links"
  .header-grp__footer
    .header-grp__footer__images
      = link_to image_tag(src= "logo-white.png", class: "footer-image"),root_path
    .header-grp__footer__copy
      ©︎ frimar.2020