.exhibition
  .exbHeader
    =link_to image_tag(src = "logo.png", id: "exbHeader__logo", width: "280"), root_path
  
  .exhibition__wrapper
    =form_for @item do |f|
      .exbMain
        .exbMain__topWrapper
          .exbMain__topWrapper__top
            %p#text 出品画像
            %p#mark 必須
          .exbMain__topWrapper__textBox
            %p 最大４枚までアップロードできます
          #image-box
            #previews
              - if @item.persisted?
                - @item.images.each_with_index do |image, i|
                  = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
            = f.fields_for :images do |image|
              .js-file_group{"data-index" => "#{image.index}"}
                %label
                  = icon('fas', 'camera-retro')
                  = image.file_field :src, class: 'js-file'
                  %span.js-remove 削除
              - if @item.persisted?
                = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
            - if @item.persisted?
              .js-file_group{"data-index" => "#{@item.images.count}"}
                %label
                  = icon('fas', 'camera-retro')
                = file_field_tag :src, name: "item[images_attributes][#{@item.images.count}][src]", class: 'js-file'
                %br
                .js-remove
                = link_to '削除', product_path(product), method: :delete

        .exbMain__secondWrapper
          .exbMain__secondWrapper__top
            %p#text 商品名
            %p#mark 必須 
          = f.text_field :name, id: "itemName", placeholder: "商品名を入力してください"
          
          .exbMain__secondWrapper__center
            %p#text 商品の説明
            %p#mark 必須
          = f.text_area :text, id: "introduction", placeholder: "\n商品の説明\n色、重さ、素材、定価額、注意点など"
          .exbMain__secondWrapper__under
    
        .exbMain__thirdWrapper
          .exbMain__thirdWrapper__janle
            %p#janle 商品の詳細
          .exbMain__thirdWrapper__top
            %p#text カテゴリー
            %p#mark 必須
          = f.text_field :category_id, id: "category", placeholder: "カテゴリーを入力してください"
          .exbMain__thirdWrapper__center
            %p#text ブランド
            %p#mark2 任意
          = f.text_field :brandName, id: "brandName", placeholder: "ブランド名を入力してください"
          .exbMain__thirdWrapper__under
            %p#text 商品の状態
            %p#mark 必須
          = f.collection_select :status, Status.all, :id, :name, prompt: "選択してください", class: 'input'
          .exbMain__thirdWrapper__bottom
            %p#text サイズ
            %p#mark 必須
          = f.text_field :size, id: "size", placeholder: "サイズを入力してください 衣類はS,M,Lなど、靴等は○○cm"  
        .exbMain__fourthWrapper
          .exbMain__fourthWrapper__janle
            %p#janle 配送について
          .exbMain__fourthWrapper__top
            %p#text 配送料の負担
            %p#mark 必須
          = f.collection_select :deliveryfee, Deliveryfee.all, :id, :name, prompt: "選択してください", class: 'input'
          .exbMain__fourthWrapper__center
            %p#text 発送元の地域
            %p#mark 必須
          = f.collection_select :prefecture, Prefecture.all, :id, :name, prompt: "選択してください", class: 'input'
          .exbMain__fourthWrapper__under
            %p#text 発送までの日数
            %p#mark 必須
          = f.collection_select :deliveryday, Deliveryday.all, :id, :name, prompt: "選択してください", class: 'input'
    
        .exbMain__fifthWrapper
          .exbMain__fifthWrapper__left
            .exbMain__fifthWrapper__left__janle
              %p#janle 価格（¥300〜9,999,999)
            .exbMain__fifthWrapper__left__top
              %p#text 販売価格
              %p#mark 必須
          .exbMain__fifthWrapper__right
            .exbMain__fifthWrapper__right__priceArea
              %p#yen ¥
              = f.text_field :price, id: "price", placeholder: "金額を入力してください"

  
    
        .exbMain__sixWrapper
          .exbMain__sixWrapper__center
            = f.submit "出品する", id: "sendBtn"
            = link_to "もどる", root_path, id: "backBtn"
  
  .exbFooter
    .exbFooter__center
      = image_tag src ="logo-gray.png", id: "exbFooter__center__logo", width: '200'

:javascript
  $(function(){
    
    $(document).on('turbolinks:load', ()=> {
    
      // 画像用のinputを生成する関数    
      const buildFileField = (num)=> {
        const html = `<div data-index="${num}" class="js-file_group">
                        <i class="fas fa-camera-retro"></i>
                        <input class="js-file" type="file" name="item[images_attributes][${num}][src]" id="item_images_attributes_${num}_src">
                          <div class="js-remove">削除</div>
                      </div>`;
        return html;
      }
      // プレビュー用のimgタグを生成する関数
      const buildImg = (index, url)=> {
        const html = `<img data-index="${index}" src="${url}" width="130px" height="130px">`;
        return html;
      }
    
      // file_fieldのnameに動的なindexをつける為の配列
      let fileIndex = [1,2,3,4,5,6,7,8,9,10];
      // 既に使われているindexを除外
      lastIndex = $('.js-file_group:last').data('index');
      fileIndex.splice(0, lastIndex);
    
      $('.hidden-destroy').hide();
    
      $('#image-box').on('change', '.js-file', function(e) {
        const targetIndex = $(this).parent().data('index');
        // ファイルのブラウザ上でのURLを取得する
        const file = e.target.files[0];
        const blobUrl = window.URL.createObjectURL(file);
    
        // 該当indexを持つimgがあれば取得して変数imgに入れる(画像変更の処理)
        if (img = $(`img[data-index="${targetIndex}"]`)[0]) {
          img.setAttribute('src', blobUrl);
        } else {  // 新規画像追加の処理
          $('#previews').append(buildImg(targetIndex, blobUrl));
          // fileIndexの先頭の数字を使ってinputを作る
          $('#image-box').append(buildFileField(fileIndex[0]));
          fileIndex.shift();
          // 末尾の数に1足した数を追加する
          fileIndex.push(fileIndex[fileIndex.length - 1] + 1);
        }
      });
    
      $('#image-box').on('click', '.js-remove', function() {
        const targetIndex = $(this).parent().data('index');
        // 該当indexを振られているチェックボックスを取得する
        const hiddenCheck = $(`input[data-index="${targetIndex}"].hidden-destroy`);
        // もしチェックボックスが存在すればチェックを入れる
        if (hiddenCheck) hiddenCheck.prop('checked', true);
    
        $(this).parent().remove();
        $(`img[data-index="${targetIndex}"]`).remove();
    
        // 画像入力欄が0個にならないようにしておく
        if ($('.js-file').length == 0) $('#image-box').append(buildFileField(fileIndex[0]));
      });
    });
  });