.exhibition
  .exbHeader
    =link_to image_tag(src = "logo.png", id: "exbHeader__logo", width: "185"), root_path
  
  .exhibition__wrapper
    =form_for @item do |f|
      .exbMain
        .exbMain__topWrapper
          .exbMain__topWrapper__top
            %p#text 出品画像
            %p#mark 必須
          .exbMain__topWrapper__textBox
            %p 最大10枚までアップロードできます
          .exbMain__topWrapper__imageArea
            = f.fields_for :images do |i|
              .input-area
                = i.file_field :image, type: 'file', name: "item[images_attributes][][image]", value:"", style: "display:none", id: "img-file"
                %label{for: "img-file"}
                  %i.fas.fa-camera= f.file_field :image, id: "item_img"

        .exbMain__secondWrapper
          .exbMain__secondWrapper__top
            %p#text 商品名
            %p#mark 必須 
          = f.text_field :name, id: "itemName", placeholder: "商品名を入力してください"
          
  
          .exbMain__secondWrapper__center
            %p#text 商品の説明
            %p#mark 必須
          = f.text_area :text, id: "introduction", placeholder: "\n商品の説明\n色、重さ、素材、定価額、注意点など"
          .exbMain__secondWrapper__under
    
        .exbMain__thirdWrapper
          .exbMain__thirdWrapper__janle
            %p#janle 商品の詳細
          .exbMain__thirdWrapper__top
            %p#text カテゴリー
            %p#mark 必須
          = f.text_field :category, id: "category", placeholder: "カテゴリーを入力してください"
          .exbMain__thirdWrapper__center
            %p#text ブランド
            %p#mark2 任意
          = f.text_field :brandName, id: "brandName", placeholder: "ブランド名を入力してください"

          .exbMain__thirdWrapper__under
            %p#text 商品の状態
            %p#mark 必須
          = f.select :status, [["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]], id: "itemStatus", prompt: "  選択してください"
          .exbMain__thirdWrapper__bottom
            %p#text サイズ
            %p#mark 必須
          = f.text_field :size, id: "size", placeholder: "サイズを入力してください 衣類はS,M,Lなど、靴等は○○cm"  
        .exbMain__fourthWrapper
          .exbMain__fourthWrapper__janle
            %p#janle 配送について
          .exbMain__fourthWrapper__top
            %p#text 配送料の負担
            %p#mark 必須
          = f.select :deliveryfee, [["送料込み（出品者負担）", "送料込み（出品者負担）"], ["着払い（購入者負担）", "着払い（購入者負担）"]], id: "deliveryfee", prompt: "  選択してください"
          .exbMain__fourthWrapper__center
            %p#text 発送元の地域
            %p#mark 必須
          = form_for '' do |f|
            .exbMain__fourthWrapper__addressBox.icon-relative
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください", class: 'input'
              -# = icon("fa", "chevron-down")
          .exbMain__fourthWrapper__under
            %p#text 発送までの日数
            %p#mark 必須
          = f.select :deliveryday, [["１〜２日で発送", "１〜２日で発送"], ["３〜４日で発送", "３〜４日で発送"], ["５〜７日で発送", "５〜７日で発送"]], id: "deliveryday", prompt: "  選択してください"
    
        .exbMain__fifthWrapper
          .exbMain__fifthWrapper__left
            .exbMain__fifthWrapper__left__janle
              %p#janle 価格（¥300〜9,999,999)
            .exbMain__fifthWrapper__left__top
              %p#text 販売価格
              %p#mark 必須
          .exbMain__fifthWrapper__right
            .exbMain__fifthWrapper__right__priceArea
              %p#yen ¥
              = f.text_field :price, id: "price", placeholder: "金額を入力してください"

  
    
        .exbMain__sixWrapper
          .exbMain__sixWrapper__center
            = f.submit "出品する", id: "sendBtn"
            = link_to "もどる", root_path, id: "backBtn"
  
  .exbFooter
    .exbFooter__center
      = image_tag src ="icon_category.png", id: "exbFooter__center__logo", width: '60'

