.template-header 
  = render "/items/templates/head_template"

.bg-color
  .dtlWhole-view
  .dtlWhole-view__item-main
    .dtlWhole-view__item-main__setting
    .dtlWhole-view__item-main__name
      = @item.name
    .dtlWhole-view__item-main__toppic
      - if @item_images[0].nil?
        = image_tag "bobu.jpg", class:'main-pic'
      - else
        = image_tag @item_images[0].image.url, class:'main-pic'
    .dtlWhole-view__item-main__otherpic-grp
      .dtlWhole-view__item-main__otherpic-grp--left
        - if @item_images[0].nil?
          = image_tag "bobu.jpg", class:'left-pic'
        - else
          = image_tag @item_images[0].image.url, class: 'left-pic'
      .dtlWhole-view__item-main__otherpic-grp--leftmid
        - if @item_images[1].nil?
          = image_tag "bobu.jpg", class:'leftmid-pic'
        - else
          = image_tag @item_images[1].image.url, class: 'leftmid-pic'
      .dtlWhole-view__item-main__otherpic-grp--mid
        - if @item_images[2].nil?
          = image_tag "bobu.jpg", class:'mid-pic'
        - else
          = image_tag @item_images[2].image.url, class: 'mid-pic'
      .dtlWhole-view__item-main__otherpic-grp--rightmid
        - if @item_images[3].nil?
          = image_tag "bobu.jpg", class:'rightmid-pic'
        - else
          = image_tag @item_images[3].image.url, class: 'rightmid-pic'
      .dtlWhole-view__item-main__otherpic-grp--right
        - if @item_images[4].nil?
          = image_tag "bobu.jpg", class:'right-pic'
        - else
          = image_tag @item_images[4].image.url, class: 'right-pic'
    .dtlWhole-view__item-main__pricebox
      .dtlWhole-view__item-main__pricebox__price
        ¥
        = @item.price
      .dtlWhole-view__item-main__pricebox__tax-txt
        (税込) 送料込み
        - if user_signed_in? && current_user.id == @item.user_id
          .pop-box
            %label{:for => "popup-on"}
              %label{:for => "popup-on"}
                .btn-open
                  オプション
              %input#popup-on{:type => "checkbox"}
              .popup
                %label.icon-close{:for => "popup-on"}
                .popup-content
                .dtlWhole-view__item-main__setting
                  %ul.dtlWhole-view__item-main__setting__list
                    %li.dtlWhole-view__item-main__setting__list--edit
                      =link_to 'この出品を編集', "#", class:"edit-btn"
                    %li.dtlWhole-view__item-main__setting__list--dty
                      =link_to 'この出品を削除', item_path, method: :delete, class:"destroy-btn"
                %label{:for => "popup-on"}
                  .btn-close 閉じる
        - else
          .dtlWhole-view__item-main__pricebox__purchase
            = link_to '購入画面に進む！', purchase_items_path, class:"purchase-btn"
        .dtlWhole-view__item-main__item-explan
          = @item.text
    .dtlWhole-view__item-main__item-lists
      %table{:border => "1"}
        %tr
          %th
            出品者
            %td
              = link_to users_path(@item.user), class:"list-link-grp" do
                = @item.user.nickname
        %tr
          %th
            カテゴリー
            %td
              = @item.category.root.name
              %br
              = @item.category.parent.name
              %br
              = @item.category.name
        %tr
          %th
            ブランド
            %td
              = @item.brandName
        %tr
          %th
            商品のサイズ
            %td
              = @item.size
        %tr
          %th
            商品の状態
            %td
              = @item.status
        %tr
          %th
            配送料の負担
            %td
              = @item.deliveryfee
        %tr
          %th
            配送元の地域
            %td
              = @item.prefecture
        %tr
          %th
            発送日の目安
            %td
              = @item.deliveryday
  .dtlWhole-view__comment-form
    .dtlWhole-view__comment-form__grp
      .dtlWhole-view__comment-form__grp__txtarea
        %textarea{:cols => "70", :rows => "4"}
      .dtlWhole-view__comment-form__grp__atention
        相手のことを考え丁寧なコメントを心がけましょう。
        %br
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .dtlWhole-view__comment-form__grp__comments-btn
        .dtlWhole-view__comment-form__grp__comments-btn__send
          = link_to 'コメントする', "#", class:"dtlWhole-view__comment-form__grp__comments-btn__send"
  %ul.dtlWhole-view__movepage
    %li.dtlWhole-view__movepage--back
      = link_to '< 前のページ', "#", class:"page-button"
    %li.dtlWhole-view__movepage--next
      = link_to '次のページ >', "#", class:"page-button"

= render "/items/templates/foot_template"